:root {
  --blue:#2998ff;
  --orange: #ff7730;
  --primary: var(--orange);
  --h1: 5rem;
}
.light {
  --primary: var(--blue);
}
.dark {
  --primary: var(--orange);
}
body {
  background-color: var(--primary);
}
h1 {
  font-size: var(--h1);
}
.section-title{
  font-size: var(--h1);
}