body {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 3rem;
}

.gallery {
  background-color: #ffc1d1;
  padding: 40px;
  margin-top: 3rem;
  text-align: center;
}

.filter {
  display: flex;
  justify-content: space-around;
  margin: auto;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 5rem;
}

button {
  width: 15rem;
  height: 3rem;
  background-color: white;
}

img {
  max-width: 300px;
  max-height: 300px;
  margin: 1.1rem;
}



:root {
  --blue:#798a99;
  --orange: #ff9a9a;
  --primary: var(--orange);
  --h1: 5rem;
}
.light {
  --primary: var(--blue);
}
.dark {
  --primary: var(--orange);
}
body {
  background-color: var(--primary);
}
h1 {
  font-size: var(--h1);
}
.section-title{
  font-size: var(--h1);
}